<a class="btn btn-primary btn-lg" href="/contacts/new" role="contacts">Add new contact</a>

<table class="table table-striped">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Note</th>
  <% Contact.all.each do |contact| %>
    <tr>
      <td><a href = "/contacts/<%= contact.id %>"><%= contact.first_name %></a></td>
      <td><%= contact.last_name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.note %></td>
    </tr>
  <% end %>
</table>



<a class="btn btn-primary btn-lg" href="/" role="contacts">Main Page</a>
